.main_button {
    background-color: #007240  !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: white !important;
    box-shadow: none !important;
    min-height: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.main_button:hover {
    background-color: white !important;
    color: #007240  !important;
    border-color: #007240  !important;
}

.cancel_button {
    /* padding-left: 1.5rem;
    padding-right: 1.5rem; */
    min-height: 31.8px !important;
    height: 31.8px;
}

.cancel_button:hover {
    color: #007240 !important;
    border-color: #007240 !important;
}
