.dot-container {
  display: inline-block;
  margin-left: 4px;
}

.dot {
  opacity: 0;
  animation: blink 1.5s infinite;
  font-weight: bold;
  font-size: 18px;
}

.dot-1 {
  animation-delay: 0s;
}

.dot-2 {
  animation-delay: 0.2s;
}

.dot-3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
