.send-mail-modal .ant-modal-header {
  margin-bottom: 0;
}

.send-mail-datepicker-popup .ant-picker-now-btn {
  font-size: 0 !important;
}
.send-mail-datepicker-popup .ant-picker-now-btn::after {
  content: 'Now';
  font-size: 14px;
}
.send-mail-datepicker-popup .ant-picker-ok > button {
  font-size: 0 !important;
}
.send-mail-datepicker-popup .ant-picker-ok > button::after {
  content: 'Ok';
  font-size: 14px;
}
